{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background: rgb(2,0,36);
       background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(164,0,167,1) 40%, rgba(255,0,241,1) 100%);
}
#headernav{
    background-color: purple;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: purple;
}
</style>
<div class="col-sm-10 text-white mt-4">
    <h3 class="text-white">Home page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, nisi expedita quis incidunt quod quae
        commodi veniam nesciunt numquam exercitationem dolorem recusandae? Voluptatem placeat consequuntur cum
        laudantium praesentium ab earum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa expedita sed libero quo vero numquam labore iure,
        atque sint fugit rem molestiae officia soluta eum illum iusto veritatis voluptates exercitationem?
    </p>
</div>
{% endblock content %}